
// DEMO: VIM RECURSIVE MACROS WITH A STACK BASED ALGORITHM

$white:     #c7b89d;
$black:     #1e2122;
$blackAlt:  #242728;
$grey:      #2f3233;
$lightGrey: #696c6d;
$green:     #89b482;
$red:       #ec6b64;
$blue:      #6d8dad;
$yellow:    #d6b676;
$purple:    #9f899c;

$white:     #c0b70d;
$black:     #1e2081;
$blackAlt:  #24e824;
$grey:      #8f3337;
$lightGrey: #710c6d;
$green:     #89b547;
$red:       #ec0b99;
$blue:      #9d9dad;
$yellow:    #d9b755;
$purple:    #9f914c;
